@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
body, html {
    height: 100%;
    margin:0;
    background-image: url("http://localhost:8080/2017413/Wishlist/assets/images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 100%;
}

.login-card {
    width: 500px;
    /*left: 100px;*/
    margin-top: 10%;
    margin-bottom: 7%;
}

.login-box {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 800px;
    position: relative;
    background-image: linear-gradient(232deg, rgba(71,118,230,1) 6%, rgba(71,118,230,1) 39%, rgba(142,84,233,1) 65%);
    /*background: url(https://images.unsplash.com/photo-1506860076259-17466043319b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80) no-repeat center center fixed;*/
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19)
}


.login-snip {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 65px 70px 50px 70px;
    /*background: rgba(0, 61, 153, 0.69);*/
}


.login-snip .login {
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear
}
.login-snip .sign-up-form {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear
}

.login-snip .sign-in,
.login-snip .sign-up,
.login-space .group .check {
    display: none
}

.login-snip .tab,
.login-space .group .label,
.login-space .group button {
    text-transform: uppercase
}

.login-snip .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent
}

.login-snip .sign-in:checked+.tab,
.login-snip .sign-up:checked+.tab {
    color: #fff;
    border-color: white;
}

.login-space {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d
}

.login-space .group {
    margin-bottom: 15px;
    margin-top: 15px;
}

.login-space .group .label,
.login-space .group .form-control,
.login-space .group button {
    width: 100%;
    color: #fff;
    display: block
}

.login-space .group .form-control,
.login-space .group button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .2)
}

.login-space .group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle
}

.login-space .group .label {
    color: #fff;
    font-size: 12px;
}

.login-space .group button {
    background: #185dd6;
}

.login-snip .sign-in:checked+.tab+.sign-up+.tab+.login-space .login {
    transform: rotate(0)
}

.login-snip .sign-up:checked+.tab+.login-space .sign-up-form {
    transform: rotate(0)
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, .2)
}

.login-space .group input::placeholder {
    color: #fff
}

.navbar {
    background-image: linear-gradient(15deg, #185dd6 0%, #80d0c7 100%);
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19)
}
.navbar-brand {
    margin-left: 40px;
}

.logout {
    background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%);
    margin: 10px;
    margin-right: 40px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.1s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
}

.logout:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.content-area {
    margin-top: 120px;
}

.main-title {
    font-family: Niconne;
    text-align: center;
    font-size: 70px;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.create-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#create-btn {
    background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97  51%, #DD5E89  100%);
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
}

#create-btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

#no_item {
    display: none;
    margin: 0 auto;
    align-items: center;
    margin-top: 50px;
    text-align: center;
    width: 500px;
}

.no-list {
    background: linear-gradient(90deg, rgba(212,212,212,1) 0%, rgba(232,233,233,1) 100%);
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19)
}

.fa-surprise {
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wishlist-name, .wishlist-desc {
    text-align: center;
    font-family: "Open Sans";
}

.modal-header {
    background-image: linear-gradient(15deg, #8e9eab 0%, #eef2f3  100%);
}

.modal-title {
    font-family: "Open Sans";
}


.close {
    padding: 0;
    border: none;
    background: none;
}

.yes_item{
    margin-top: 30px;
}

.list-card{
    width: 50%;
    margin: auto;
    text-align: center;
}

.header-text{
    /*background-image: linear-gradient(15deg, #8e9eab 0%, #eef2f3  100%);*/
    text-transform: capitalize;
}

.url-btn{
    margin-top: 5px;
}

#share-btn{
    margin: auto;
    width: 30%;
    margin-top: 40px;
}

#btn-share{
    background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /*box-shadow: 0 0 20px #eee;*/
    border-radius: 10px;
    display: block;
}

#btn-share:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.share-header{
    background-image: linear-gradient(15deg, #185dd6 0%, #80d0c7 100%);
    color: #EAF2F5;
}

#share-container .modal-body{
    background-image: linear-gradient(15deg, #c1c9d2 0%, #eef2f3  100%);
}

footer {
    background: #16222A;
    background: -webkit-radial-gradient(circle, rgba(0,78,146,1) 45%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 98%);
    background: radial-gradient(circle, rgba(0,78,146,1) 45%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 98%);
    /*background: -webkit-linear-gradient(59deg, #000428 0%, #004e92  51%, #000428  100%);*/
    /*background: linear-gradient(59deg, #000428 0%, #004e92  51%, #000428  100%);*/
    color: white;
    margin-top:100px;
    width: auto;
    /*position: absolute;*/
    /*bottom: 0;*/
}

.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}

.footer-middle {
    padding-top: 2em;
    color: white;
    text-align: center;
}

.footer-row{
    /*margin: auto;*/
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #F9F9F9;
}


#no-wish-list {
    display: none;
    margin: 0 auto;
    align-items: center;
    margin-top: 50px;
    text-align: center;
    width: 500px;
}

#main-title-share{
    margin-top: 40px;
}

.share-name{
    text-align: center;
    text-transform: capitalize;
    font-family: "Open Sans";
    /*color: #004e92;*/
    background: linear-gradient(to right, #330867 0%, #30CFD0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#share-table{
    width: 75%;
    margin: auto;
    text-align: center;
}

.table-body{
    background: white;
}

.list-name-and-dis{
    background: white;
}








